body{
    background-color: aqua;
}
.h1 u{
    text-align: center;
}
.button {
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 50px;
    box-shadow: 1px 2px 9px gray;
    transition: 0.3s;
}
.button:hover {
    background-color: grey;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 250px;
    height: 50px;
    color: white;
    box-shadow: 2px 5px 9px rgb(255, 255, 255);
    transition: 0.3s;
}